* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
    color: #5474fc; /* Adjusted to match your text color */
    text-align: center;
}

.container {
    text-align: center;
}

.logo {
    width: 450px;
    margin-bottom: 20px;
    margin-top: 20px;
}

h1 {
    font-size: 2em;
    margin-bottom: 20px;
}

.chatbot {
    border: 1px dashed #bbb;
    padding: 20px;
    width: 80%;
    max-width: 900px;
    margin: 0 auto;
}
